<table class="nav-table">
  <tbody>
    <% Book.all.each do |book| %>
      <tr>
        <td>
          <%= book.name %>
        </td>
        <% (1..book.chapter_count).each do |chapter| %>
          <td>
            <% point_class = 'nav__absent' if populated_points.exclude? ([book.id, chapter]) %>
            <%= link_to chapter, edit_point_path(book.id, chapter), class: point_class %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
